.container{
  width: 1390px;
  background: #cecece;
}
.clear{
  content: '';
  display: table;
  clear: both;
}
.col-right .col-xs-12{
  display: none;
}
.col-left img{
  padding-left: 10px;
}
.col-right ul li {
  display: inline-block;
}
ul li a{
  text-decoration: none;
  font-size: 15px;
  padding-right: 5px;
  color: #fff;
}
  .container .jumbotron{
  background-image: url(../img/hero-bg.jpg);
  text-align: center;
}
